<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div id="sampleModelRange">
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <textarea data-bind="value: inputText" style="width:500px; height:250px;"placeholder="Write the courses"> </textarea>
        </div>
        <div class="col-md-offset-1 col-md-4">
            <button data-bind="click: getCoursesPath">Analyze string</button>
        </div>
    </div>
    <div class="row"><div class="col-md-12"></div></div>
    <div class="row">
        <div class="col-md-offset-2 col-md-2">
            <h3>Result: </h3>
        </div>
        <div class="col-md-8">
            <br />
            <span data-bind="text: coursesResult" style="width:500px; height:250px;" placeholder="Write the courses"> </span>
        </div>
    </div>      
</div>
